<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Weather App</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="vh-100" style="background-color: #f5f6f7">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6">
            <h1 class="text-center">Find the Weather</h1>
            <form method="GET">
              <div class="mb-3">
                <label for="city" class="form-label"></label>
                <input
                  type="text"
                  class="form-control border"
                  name="city"
                  id="city"
                  placeholder="Enter city name..."
                />
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <input
                  type="submit"
                  class="btn custom-btn mb-2"
                  value="Submit"
                />
              </div>
            </form>
            <div class="card text-white" style="border-radius: 40px">
              <div class="bg-image" style="border-radius: 35px">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp"
                  class="card-img img-fluid"
                  alt="weather"
                />
                <div
                  class="mask"
                  style="background-color: rgba(190, 216, 232, 0.5)"
                ></div>
              </div>
              {% if weather %}
              <div class="card-img-overlay text-dark p-5">
                <h4 class="mb-0">{{ weather.region }}</h4>
                <h5 class="mb-0">{{ weather.dayhour }}</h5>
                <p class="display-2 my-3">{{ weather.temp }}°C</p>
                <h5>{{ weather.status }}</h5>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      * {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
      input[type="text"] {
        padding: 10px;
        border: 3px solid black;
      }
      .custom-btn {
        background-color: #2c2fcc;
        color: #ffffff;
        border-radius: 7px;
      }
      .custom-btn:hover {
        background-color: #5867ec;
      }
    </style>
  </body>
</html>
